<!DOCTYPE html>
<html lang="en">
<head>
    <title>PBS KIDS Video.js Test Harness</title>
    <meta charset="utf-8">
    <script>
    window.__frontendAssetHashes = JSON.parse('<%- frontendAssetHashes %>');
    window.__videoDependencies = JSON.parse('<%- videoDependenciesAsString %>');
    </script>
    <link type="text/css" rel="stylesheet" href="<%- getAssetUrlWithHash('lib/video-js.min.css') %>">
    <link type="text/css" rel="stylesheet" href="<%- getAssetUrlWithHash('app.css') %>">
    <!-- <script src="<%- getAssetUrlWithHash('sw-init.js') %>"></script> -->
    <script src="<%- getAssetUrlWithHash('lib/video.min.js') %>"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="player-outer">
    <div class="player-wrapper"></div>
</div>

<p class="external-controls">
    <button id="previous-source-url">&larr; Previous Video</button>
    <button id="download-video" data-original-text="Download Video &darr;" ></button>
    <button id="next-source-url">Next Video &rarr;</button>
</p>

<h4>Video Stream Type:</h4>
<p>
    <input type="radio" name="stream-type" id="stream-type-livestream" value="livestream" checked /> <label for="stream-type-livestream">Livestream</label>
    <input type="radio" name="stream-type" id="stream-type-vod" value="vod" /> <label for="stream-type-vod">VOD</label>
</p>

<h4>Current Video Source Description:</h4>
<p><input id="current-source-description"></input></p>

<h4>Current Video Source URL:</h4>
<p><input id="current-source-url"></input></p>

<h4>Video package versions:</h4>
<textarea id="video-package-versions"><%- JSON.stringify(videoDependencies, null, 2) %></textarea>

<h4>Config:</h4>
<textarea id="harness-config-output"></textarea>

<script src="<%- getAssetUrlWithHash('app.js') %>" type="module"></script>

</body>
</html>
